@page
@model SnackisApp.Pages.Admin.UserAdmin.UsersModel



@{

}

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <h1 class="text-center mb-5">Användaradmin</h1>

            <h4>Användare</h4>

            @if (Model.IsLastAdmin)
            {
                <h3 class="text-danger">Det går inte att ta bort sista admin</h3>
            }

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>
                            Användarnamn
                        </th>
                        <th>
                            Epost
                        </th>
                        <th>
                            Telefon
                        </th>

                        @foreach (var role in Model.Roles)
                        {
                            <th>@role.Name</th>
                        }

                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr class="border-bottom">
                            <td>
                                @Html.DisplayFor(modelItem => user.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.PhoneNumber)
                            </td>

                            @foreach (var role in Model.Roles)
                            {
                                if (await Model._userManager.IsInRoleAsync(user, role.Name))
                                {
                                    <td>&nbsp&nbsp&#10003&nbsp&nbsp&nbsp<a href="?RemoveUserId=@user.Id&Role=@role.Name"> Ta&nbspbort&nbsp&nbsp</a></td>
                                }
                                else
                                {
                                    <td>&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp<a href="?AddUserId=@user.Id&Role=@role.Name"> Lägg&nbsptill&nbsp&nbsp</a></td>
                                }
                            }
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>
