@page
@model SnackisApp.Pages.Admin.IndexModel
@{
	
}

<h1>Admin</h1>

<div>
    <a asp-page="/Admin/UserAdmin/Index">Admin för användare</a>
</div>

<div>
    <a asp-page="/Admin/ForumAdmin/Index">Admin för Forum</a>
</div>
