@page
@model SnackisApp.Pages.CreatePostModel
@{
}



<h4>Skriv inlägg</h4>

<div class="col">
    <form method="post">
        <div class="form-group">
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Title" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" asp-for="Post.IsPrivate" />
            <label class="form-check-label" asp-for="Post.IsPrivate"></label>
            <span asp-validation-for="Post.IsPrivate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.OnlyForUserName"></label>
            <input asp-for="Post.OnlyForUserName" class="form-control" />
            <span asp-validation-for="Post.OnlyForUserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Text"></label>
            <textarea asp-for="Post.Text" class="form-control"></textarea>
            <span asp-validation-for="Post.Text" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Spara inlägg" class="btn btn-primary" />
        </div>
    </form>
</div>