@page
@model IndexModel;

@using Microsoft.AspNetCore.Identity;
@using Areas.Identity.Data;
@using SnackisApp.Data;

@inject UserManager<SnackisUser> UserManager;

@{
    ViewData["Title"] = "Discussion";
    var allUsers = UserManager.Users;
}


@if (UserManager.Users.Count() == 0)
{
    <p class="pt-5">Första gången appen startas måste en användare registrera sig. Den här användaren blir administratör för appen.
    Fler administratörer kan läggas till senare</p>
   <a href="/Identity/Account/Register">Registrera en admin</a>
}







