@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetspolicy";
}
<h2>@ViewData["Title"]</h2>


<p class="pt-5">
    Hemsidan använder cookies för att hålla reda på om du är inloggad.
</p>
<p>
    Snackis sparar personlig data, du kan när som helst ladda ned, ändra eller radera din personliga data.
</p>

